body,td,th {
	font: 12px Helvetica, Arial, sans-serif;
	line-height: 1.62;
}

/*level 1*/
.main-promotion {
	overflow: hidden;
	/*width: 753px;*/
	margin: 2px;
	/*
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #dfdfdf;
	-webkit-box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.2);
	-moz-box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.2);
	-ms-box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.2);
	box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.2);
	*/
}

/*level 2*/
.main-promotion .promotion-banner {
	display: block;
}

/*level 3*/
.banner-wrapper {
	padding-top: 5px;
	/*padding-bottom: 5px;*/
	background-color: #F4F4F4;
	text-align: left;
	padding-left: 12px;
	border-bottom: #E0E0E0 1px solid;
	font-weight: bold;
	color: #37a;
}

.main-promotion .promotion-content {
	overflow: hidden;
	background-color: #F4F4F4;
	padding: 7px 0px 2px 0px;
}

.main-promotion .promotion-content .promotion {
	float: left;
	width: 600px;
	height: 290px;
}

.main-promotion .promotion-content .promotion .promotion-thumbnails {
	float: left;
	width: 290px;
}

.thumbnail {
	width: 100%;
	height: 48px;
	margin-bottom: 6px;
	border: #E0E0E0 1px solid;
}

.highlight {
	background: #E4F0FA;
}

.thumbnail:hover {
	background: #E4F0FA;
}

li {
	list-style: none;
}

.thumbnail .details {
	float: left;
	width: 100%;
	/*padding: 20px 0 0 20px;*/
	padding-top: 5px;
}

.thumbnail .details span {
	color: #45B0E7;
	font-weight: bold;
	font-size: 14px;
}

.thumbnail .details .stats {
	/*margin-top: 6px;*/
	font-size: 10px;
}

.stats {
	color: #999;
	padding-left: 1px;
}

.thumbnail img {
	float: right;
	width: 86px;
	height: 86px;
}

.promotion-thumbnails {
	width: 48%;
	float: left;
	margin-left: 9px;
}
